:root {
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
  --dark-blue: #0A0639;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

main > * {
  padding: 0 1.9rem;
}


/* NAVBAR */
nav {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  width: 30%;
  display: flex;
}

nav .logo {
  width: 100%;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul a {
  font-size: .8rem;
}


/* HEADER SECTION */
header {
  padding-block: 5rem 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  text-align: center;
  min-height: 80vh;
  margin-bottom: 6rem;
}

header .header-image {
  margin-bottom: 2rem;
}

header .header-image img {
  width: 100%;
}

header .header-text {
  color: var(--dark-blue);
}

.header-text h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.header-text p {
  margin-bottom: 1.8rem;
  line-height: 1.4;
  font-size: .9rem;
  color: var(--dark-blue);
}

header form {
  display: flex;
  flex-direction: column;
}

header form .email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

header form .email input {
  outline: none;
  padding: .7rem 1.25rem;
  border-radius: 3px;
  border: 1px solid #00000088;
  transition: all 250ms ease-in-out;
}

header form .email input:focus {
  border: 1px solid crimson;
}

header form .email input::placeholder { 
  color: var(--Light-Gray);
} 

header form .email span {
  font-size: .8rem;
  color: crimson;
  visibility: hidden;
  transition: all 250ms ease-in-out;
  opacity: 0;
}

header form .email input:focus + span{
  visibility: visible;
  opacity: 1;
}

header form button {
  padding: .8rem 1.2rem;
  border-radius: 3px;
  background-color: var(--Bright-Blue);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

header form button:hover {
  background-color: hsl(224, 100%, 69%);
}


/* FEATURES SECTION */
.features-section {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #F8F8FE;
  position: relative;
}

.features-section::before {
  content: "";
  background-image: url('../images/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -3;
  top: -40px;
}

.features-text h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.features-text p {
  font-size: 1rem;
  color: #8d8d8d;
  margin-bottom: 2rem;
}

.link {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.features-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--Moderate-Cyan);
  border-bottom: 1px solid var(--Moderate-Cyan);
  padding-bottom: 7px;
}

.features-text a img {
  width: 20px;
}

.features-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.7rem 2rem;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0px 3px 12px #a7a7a74d;
}

.features-card > img {
  width: 1.3rem;
}

.features-card > p {
  font-size: .75rem;
  color: var(--dark-blue);
  margin-bottom: 1.5rem;
}

.ceo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ceo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ceo h3 {
  font-size: .9rem;
}

.ceo p {
  margin-bottom: 0;
  font-size: .6rem;
  color: var(--dark-blue);
}

.features-image {
  order: -1;
  margin-bottom: 4rem;
}

.features-image img {
  width: 100%;
}


/* EMAIL SECTION */
.email-section {
  color: #fff;
  background-color: #575988;
  padding-block: 4.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-section h2 {
  color: #fff;
  margin-bottom: 1.8rem;
}

.email-section p {
  font-size: .96rem;
}

.email-form {
  margin-block: 1.4rem 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: .7rem;
}

.email-form div {
  display: flex;
  flex-direction: column;
}

.email-form span {
  display: none;
}

.email-form input {
  outline: none;
  padding: .7rem .8rem;
  border-radius: 3px;
  border: 1px solid #00000088;
  transition: all 250ms ease-in-out;
}

.email-form input::placeholder {
  color: var(--Light-Gray);
}

.email-form button {
  padding: .8rem 1.2rem;
  border-radius: 3px;
  background-color: var(--Bright-Blue);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  transition: all 250ms ease-in-out;
}

.email-form button:hover {
  background-color: hsl(224, 100%, 69%);
}


/* FOOTER */
footer {
  background-color: var(--dark-blue);
  color: #fff;
  padding-block: 3rem;
}

.logo {
  margin-bottom: 2rem;
}

.logo svg path {
  color: #fff;
}

.contact {
  margin-bottom: 2.4rem;
}

.contact li {
  margin-bottom: .5rem;
}

.contact img {
  margin-right: .7rem;
}

footer ul li, footer ul li a {
  color: var(--Light-Gray);
}

.menu-1, .menu-2 {
  margin-bottom: 3rem;
}

.menu-1 li a:hover, .menu-2 li a:hover {
  color: var(--Bright-Blue);
}

.menu-1 li, .menu-2 li {
  margin-bottom: .8rem;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: .85rem;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.social span:hover {
  color: var(--Bright-Blue);
  border: 1px solid var(--Bright-Blue);
}

/* DESKTOP */
@media screen and (min-width: 500px) {
  main > * {
    padding: 0 4rem;
  }

  /* NAVBAR */
  nav {
    padding-block: 3rem 0;
  }

  nav > div {
    width: 10%;
  }

  nav ul {
    gap: 3.5rem;
  }

  nav ul a {
    font-size: 1.1rem;
  }


  /* HEADER SECTION */
  header {
    padding-block: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 80vh;
    margin-bottom: 5rem;
  }

  header .header-image {
    margin-bottom: 0;
    flex: 1;
  }

  header .header-text {
    flex: 1;
  }

  .header-text h1 {
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    width: 95%;
    margin-bottom: 1.2rem;
  }

  .header-text p {
    margin-bottom: 1.4rem;
    line-height: 1.4;
    width: 95%;
    font-size: 1.15rem;
  }

  header form {
    width: 75%;
    flex-direction: row;
    gap: .8rem;
    align-items: flex-start;
  }

  header form .email {
    flex: 2;
  } 

  header form button {
    flex: 1;
  }


  /* FEATURES SECTION */
  .features-section {
    flex-direction: row;
  } 

  .features-text h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .features-text p {
    width: 70%;
    color: var(--dark-blue);
    margin-bottom: 1.2rem;
  }

  .link {
    justify-content: flex-start;
    margin-bottom: 2.6rem;
  }

  .features-card {
    width: 48%;
    margin-inline: 0;
  }

  .features-card > p {
    width: 100%;
    font-size: .85rem;
  }

  .ceo p {
    margin: 0;
    width: 100%;
  }

  .features-image {
    order: 1;
    margin-bottom: 0;
    width: 62%;
  }

  .features-section::before {
    background-image: url('../images/bg-curve-desktop.svg');
    top: -100px;
  }

  /* EMAIL SECTION */
  .email-section {
    padding-block: 5rem 4rem;
    text-align: left;
    flex-direction: row;
  }

  .email-section h2 {
    font-size: 1.8rem;
  }

  .email-section p {
    max-width: 55%;
  }

  .email-form {
    width: 40%;
    gap: 0;
    /* align-items: flex-start; */
  }

  .email-form span {
    display: inline;
    font-size: .8rem;
    color: var(--Light-Gray);
    visibility: hidden;
    opacity: 0;
    margin-bottom: 0;
    transition: all 250ms ease-in-out;
  }

  .email-form input {
    width: 100%;
  }

  .email-form input:focus {
    outline: none;
    border: 1px solid crimson;
  }

  .email-form input:focus + span {
    visibility: visible;
    opacity: 1;
    margin-bottom: .8rem;
  }

  .email-form button {
    align-self: flex-start;
    padding-inline: 3rem;
  }

  /* FOOTER */
  footer {
    padding-block: 6rem 2rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}